.inputNumber{
    background-color:white;
    width: 12.6%;
    height: 100%;
    border: 1px #90a4ae solid;
    color:#1890ff;
    font-size: 18pt;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}