.background{
    width: 100%;
    height: 12%;
    display: inline-flex;
    flex-direction: row-reverse;
}

.body{
    background-color:white;
    width: 150px;
    height: 100%;
    color:black;
    display: inline;
    font-size: 18pt;
    font-weight: 700;
    margin-top: 3%;
}

.number{
    background-color:white;
    width: 130px;
    height: 100%;
    color:red;
    display: inline;
    font-size: 18pt;
    font-weight: 700;
    margin-top: 3%;
}