.Timetoolbar{
    background-color: white;
    width: 80%;
    height: 80px;
    outline: 1px #a3bdbe solid;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding:0 10px;
    box-sizing: border-box;
    margin-top: 50px;
}
.placeholder{
    height: 100%;
    width: 60%;
    margin-left: 2px;
    border-right: 1px  #a3bdbe dotted;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding:0 10px;
}

.placeholder .Input{
    width: 60%;
    margin-right: 20px;
}

.time{
    
    height: 100%;
    width: 20%;
    margin-left: 2px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.date{
    height: 100%;
    width: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}



.add{
    height: 100%;
    width: 10%;
    margin-left: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-left: 1px  #a3bdbe dotted;
}

